:root {
  /* Fonts */
  --font-family: "Montserrat", sans-serif;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #161616;
  --color-gray: #515151;
  --color-white-pink: #ab043633;
  --color-wgite-gray: #d9d9d9;
  --color-pink-gray: #ce9fd01a;
  --color-pink: #ffcede;
  --color-second-gray: #dfdede;
  --color-red-pink: #ed769c;
  --color-third-gray: #dfdfdf;
  --color-almost-dark: #282828;
  --color-second-white-gray: #f5f5f5;
  --color-fourth-gray: #a7a7a7;
  --color-fifth-gray: #a3a3a3;
}
