:root {
  /* Fonts */
  --font-family: "Montserrat", sans-serif;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #161616;
  --color-gray: #515151;
  --color-white-pink: #ab043633;
  --color-wgite-gray: #d9d9d9;
  --color-pink-gray: #ce9fd01a;
  --color-pink: #ffcede;
  --color-second-gray: #dfdede;
  --color-red-pink: #ed769c;
  --color-third-gray: #dfdfdf;
  --color-almost-dark: #282828;
  --color-second-white-gray: #f5f5f5;
  --color-fourth-gray: #a7a7a7;
  --color-fifth-gray: #a3a3a3;
}

/**
  |============================
  | Reset
  |============================
*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/**
  |============================
  | <Base styles
  |============================
*/

body {
  font-family: var(--font-family), sans-serif;
}

/**
  |============================
  | Main Styles
  |============================
*/

.header {
  padding-top: 239px;
}
.header-container {
  display: flex;
  border-radius: 40px;
  width: 306px;
  height: 75px;
  background: linear-gradient(90deg, #515151 0%, #1d1d1d 100%);
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}
.header-logo-image {
}
.header-logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 46px;
  color: var(--color-white);
}
.hero-section {
}
.section {
}
.hero-title {
}
.hero-txt {
}
.hero-btn {
}
.hero-left-circle {
}
.hero-central-circle {
}
.hero-right-circle {
}
.hero-first-bckg {
}
.hero-second-bckg {
}
.explain-section {
}
.explain-bckg-img {
}
.explain-title {
}
.explain-main-txt {
}
.explain-second-txt {
}
.explain-quiz-title {
}
.explain-pic-ctn {
}
.explain-quiz-list {
}
.explain-quiz-list-item {
}
.explain-circle {
}
.quiz-section {
}
.quiz-title {
}
.quiz-main-txt {
}
.quiz-second-txt {
}
.quiz-list {
}
.quiz-list-item {
}
.quiz-list-img {
}
.quiz-list-title {
}
.quiz-list-txt {
}
.quiz-bckg-image {
}
.helping-section {
}
.helping-title {
}
.helping-main-txt {
}
.helping-second-txt {
}
.helping-list {
}
.helping-list-item {
}
.helping-icon {
}
.helping-list-item-txt {
}
.helping-btn {
}
.helping-left-circle {
}
.helping-right-circle {
}
.helping-bckg-img {
}
.footer {
}
.footer-title {
}
.footer-txt {
}
.footer-form {
}
.footer-form-input {
}
.footer-btn {
}
.footer-central-circle {
}
.footer-right-circle {
}
.footer-bckg-img {
}
.footer-money-img {
}
.footer-time-img {
}
