:root {
  /* Fonts */
  --font-family: "Montserrat", sans-serif;
  /* Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #161616;
  --color-gray: #515151;
  --color-white-pink: #ab043633;
  --color-wgite-gray: #d9d9d9;
  --color-pink-gray: #ce9fd01a;
  --color-pink: #ffcede;
  --color-second-gray: #dfdede;
  --color-red-pink: #ed769c;
  --color-third-gray: #dfdfdf;
  --color-almost-dark: #282828;
  --color-second-white-gray: #f5f5f5;
  --color-fourth-gray: #a7a7a7;
  --color-fifth-gray: #a3a3a3;
}

/**
  |============================
  | Reset
  |============================
*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/**
  |============================
  | <Base styles
  |============================
*/

body {
  font-family: var(--font-family), sans-serif;
}
